.AboutPage {
  padding-top: 60px;
  padding-bottom: 60px;
}

.text {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.link {
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}
