.FormButton {
  position: relative;
  color: var(--text-primary);
  font-size: 18px;
  font-weight: 100;
  padding: 10px 26px;
  margin: 20px 4px;

  cursor: pointer;
  border: 1px solid var(--text-primary);
  border-radius: 4px;
  background: transparent;
  &:hover,
  &:active {
    transform: scale(0.98);
  }
  &:disabled {
    color: var(--text-disabled);
    border-color: var(--text-disabled);
    cursor: not-allowed;
    transform: none;
    &:hover,
    &:active {
      &::after {
        content: 'all fields are required';
        position: absolute;
        top: 100%;
        left: 50%;
        padding-top: 2px;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 12px;
        color: var(--error);
      }
    }
  }
  @media (width <= 767px) {
    border-color: var(--text-inverse);
    color: var(--text-inverse);
  }
}
