.ratingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  line-height: 1;
  flex-shrink: 0;
  padding: 12px;
  background-color: rgba(255, 241, 237, 0.7);
  border-radius: 10px;
  .ratingNumber {
    font-size: 44px;
    margin-top: 4px;
    text-align: center;
    span {
      font-size: 22px;
    }
  }
  h4 {
    text-align: center;
  }
}

.noRatingText {
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}

.notActiveRating {
  color: #8a8a8a;
}

.ratingCount {
  font-size: 10px;
  text-align: center;
  color: #8a8a8a;
  font-weight: 500;
}
