.RateNow {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  align-items: center;
  overflow-y: hidden;
}

.characteristicWidget {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  h4 {
    margin-bottom: 16px;
    font-weight: 200;
  }
}

.confirmation {
  font-size: 14px;
  padding: 8px 12px;
  background-color: var(--success-light);
  border: 1px solid var(--success);
  border-radius: 4px;
}

.error {
  color: var(--error);
  font-size: 14px;
  padding: 8px 12px;
  background-color: var(--error-light);
  border: 1px solid var(--error);
  border-radius: 4px;
}

.heading {
  font-weight: 500;
}
