.RateNow {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  align-items: center;
  overflow-y: hidden;
}

.characteristicWidget {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  h4 {
    margin-bottom: 16px;
    font-weight: 300;
  }
}
