.badgePill {
  border-radius: 9999px;
  font-size: 10px;
  line-height: 1;
  font-weight: normal;
  text-wrap: nowrap;
  width: fit-content;
  &.small {
    padding: 4px 8px;
  }
  &.medium {
    padding: 8px 16px;
  }
  &.large {
    padding: 12px 24px;
  }
  &.red {
    background-color: var(--badge-red);
    color: var(--badge-text);
  }
  &.green {
    background-color: var(--badge-green);
    color: var(--badge-text);
  }
  &.blue {
    background-color: var(--badge-blue);
    color: var(--badge-text);
  }
  &.purple {
    background-color: var(--badge-purple);
    color: var(--badge-text);
  }
  &.orange {
    background-color: var(--badge-orange);
    color: var(--badge-text);
  }
  &.gray {
    background-color: var(--badge-gray);
    color: var(--badge-text);
  }
}
