.ReportInaccuracyForm {
  margin: 0 auto;
  width: 100%;
  padding-block: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .recaptcha {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .submitButton {
    margin-top: 20px;
  }
}
