.placesListWrapper {
  position: fixed;
  z-index: 1;
  padding: 10px 10px 0;
  top: 60px;
  left: 0;
  width: 470px; /* 450 + 20 (left+right padding) */
  height: calc(100vh - 60px);
}

@media (max-width: 767px) {
  .placesListWrapper {
    padding: 0;
    top: unset;
    bottom: 24px;
    width: 100%;
    height: 150px;
  }
}

.PlacesList {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.virtualizedList {
  width: 100% !important;
  height: 100% !important;
}

/* Простые стили для скроллбаров */
.virtualizedList::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.virtualizedList::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.virtualizedList::-webkit-scrollbar-thumb:hover {
  background: #999;
}
