.reviewCard {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ownReview {
  border: 2px solid #ff8a7a;
}

.userInfo {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ebebeb;
}

.userName {
  font-weight: bold;
}

.reviewText {
  font-size: 14px;
  word-wrap: break-word;
  margin-bottom: 8px;
  margin-left: 4px;
}

.rating {
  font-style: italic;
  color: #666;
  margin-bottom: 8px;
}

.dateAndButtons {
  display: flex;
  gap: 20px;
  margin-left: auto;
  .createdAt {
    font-size: 12px;
    color: #a3a3a3;
    font-style: italic;
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 4px;
    .buttonIcon {
      fill: #8a8a8a;
      cursor: pointer;
      width: 16px;
      height: 16px;
      &:hover {
        fill: #000;
      }
    }
  }
}

.userRate {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px 4px;
  background-color: #fff1ed;
  border-radius: 4px;
  width: fit-content;
}

.userRateNumber {
  font-size: 18px;
  margin-left: 1px;
}

.googleReviewInfo {
  margin-left: auto;
  margin-top: -10px;
  font-size: 10px;
  color: #a3a3a3;
  font-style: italic;
  font-weight: 200;
}
