.LoginPage {
  width: 100%;
  min-height: calc(100dvh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  color: #fd5353;
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}

.loginFormWrapper {
  width: 400px;
  padding: 36px;

  @media (width <= 480px) {
    width: 100%;
  }
}
