.mapSkeleton {
  width: 100%;
  height: calc(100dvh - 60px);
  background-color: #e5e7eb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  .loadingText {
    color: #9ca3af;
    font-size: 1.125rem;
    margin-left: auto;
    margin-right: 4rem;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

.mainPageSkeleton {
  position: absolute;
  height: calc(100dvh - 60px);
  width: 100%;
  top: 60px;
  left: 0;
  .mapContainer {
    position: relative;

    .floatingList {
      position: absolute;
      top: 1rem;
      left: 1rem;
      width: 20rem;
      max-height: calc(100vh - 8rem);
      overflow: hidden;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
    }

    .favoritesButton {
      position: absolute;
      bottom: 1rem;
      right: 1rem;

      .buttonSkeleton {
        width: 3rem;
        height: 3rem;
        background-color: #e5e7eb;
        border-radius: 50%;
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
      }
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
