.SearchResultsTab {
  position: absolute;
  top: 64px;

  width: 350px;

  @media (width <= 975px) {
    width: 300px;
  }
  @media (width <= 565px) {
    top: 42px;
    left: 50%;
    max-height: calc(100vh - 112px);
    transform: translateX(-50%);
  }
}

.resultPlace {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #fafafa;
  &:hover {
    background-color: #fff;
  }
}

.placeName {
  color: #ff4b34;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}

.placeAddress {
  font-size: 12px;
  line-height: 1;
  font-weight: 200;
  font-style: italic;
}
