.backDrop {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.062);
  z-index: 10;
}

.addressCompactView {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  padding-left: 20px;
  line-height: 60px;
  height: 60px;
  width: 100%;
  background-color: #fafafa;
  font-weight: 200;
  font-size: 16px;
  font-style: italic;
  z-index: 21;
  @media (width >= 501px) {
    display: none;
  }
}

.detailsContainer {
  position: relative;
  width: 640px;
  height: calc(100dvh - 76px);
  background-color: white;
  border-radius: 10px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: ease-out 0.3s fadeIn;
  z-index: 1;

  .detailsContent {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 2;
    .backgroundImgWrapper {
      width: 100%;
      max-height: 520px;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to bottom, rgba(70, 22, 3, 0.7) 5%, rgba(0, 0, 0, 0) 50%),
          linear-gradient(to top, white 30%, rgba(255, 255, 255, 0) 55%);
        z-index: 0;
      }
      .backgroundImg {
        object-fit: cover;
        width: 100%;
      }
    }
    .name {
      margin-top: 16px;
      text-align: center;
      color: #fff;
    }
    .address {
      position: absolute;
      display: block;
      top: 8px;
      left: 16px;
      line-height: 28px;
      color: #fafafa;
      font-weight: 200;
      font-size: 12px;
      font-style: italic;
      text-shadow: 1px 0px #303030;
      @media (max-width: 500px) {
        display: none;
      }
    }

    .openingHoursContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 6px;
    }

    @media (height < 600px) {
      overflow-y: auto;
    }
  }

  @media (width <= 767px) {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.iconsRow {
  position: absolute;
  top: 8px;
  right: 48px;
  display: flex;
  justify-content: end;
  gap: 14px;
  z-index: 1;

  .phone {
    display: flex;
    align-items: center;
    font-weight: 200;
    height: 28px;
    gap: 6px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 9999px;
    background-color: #f6f6f6c7;
    &:hover {
      background-color: #f6f6f6;
    }
  }

  .iconFavWrapper {
    cursor: pointer;
    background-color: #f6f6f6;
    height: 28px;
    width: 28px;
    padding: 8px;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 0.5px 1.5px;
    transition: background-color 0.2s;

    &:hover,
    &:active {
      background-color: #fff;
    }
  }

  .icon {
    height: 28px;
    width: 28px;
  }
  @media (width <= 500px) {
    right: initial;
    left: 16px;
  }
}

.closeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: 28px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: color 0.3s ease;

  &:hover,
  &:active {
    transform: scale(0.98);
    border-color: #ff4b34;
    &::before,
    &::after {
      background-color: #ff4b34;
    }
  }

  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #fff;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.charCounts {
  display: flex;
  width: 90%;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: center;
}
