.Logo {
  display: flex;
  flex-wrap: nowrap;
  .logoText {
    line-height: 1.1;
    .primaryText {
      font-size: 18px;
      color: #ff4b34;
      font-weight: 500;
      sup {
        font-size: 10px;
        font-weight: 200;
      }
    }
    .secondaryText {
      font-size: 10px;
      font-weight: 200;
      font-style: italic;
      color: #8c4c17;
      align-self: center;
    }
  }
}
